* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #F5F5F5;
}

.contenedor {
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    gap: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5,
.tarjeta6,
.tarjeta7,
.tarjeta8 {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #7B5CFA;
    margin-top: 25px;
    color: white;
}

.tarjeta1 span {
    color: #FFCC66;
}

.tarjeta1 h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.tarjeta2 {
    background-color: #FFFFFF;
    font-size: 12px;
}

m,
.tarjeta3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFCC66;
    padding-bottom: 0;
    font-size: 11px;
}

.segundo-contenedor-t3 {
    width: 70%;
    height: 100%;

}

.tarjeta4 {
    background-color: #DCD0FF;
    text-align: center;
    font-size: 13px;
}

.tarjeta5 {
    background-color: #7B5CFA;
    color: white;
    text-align: center;
    font-size: 18px;
}

.tarjeta6 {
    background-color: #FFFFFF;
}

.tarjeta6 h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.tarjeta6 img {
    margin-top: 5px;
    width: 60%;
}

.tarjeta7 {
    background-color: #F9EEE2;
    font-size: 15px;
}

.tarjeta7 span {
    color: #7B5CFA;
}

.tarjeta7 img {
    margin-top: 10px;
    width: 70%;
}

.tarjeta8 {
    background-color: #FFCC66;
    margin-bottom: 25px;
}

.tarjeta8 img {
    width: 80%;
}

@media screen and (min-width:769px) {
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto 250px;
        grid-template-areas:
            "t7 t1 t1 t4"
            "t7 t2 t3 t4"
            "t8 t6 t5 t5";
        gap: 20px;
        padding: 40px;
    }

    .tarjeta1 {
        grid-area: t1;
        font-size: 10px;
        padding: 20px;
    }

    .tarjeta1 img {
        width: 100px;
    }
}

.tarjeta2 {
    grid-area: t2;
    padding: 10px;
}

.tarjeta3 {
    grid-area: t3;
    padding: 10px;
    font-size: 10px;
}

.segundo-contenedor-t3 {
    align-self: center;
}

.tarjeta4 {
    grid-area: t4;
    padding: 20px;
    text-align: left;
}

.tarjeta4 h2 {
    font-size: 20px;
}

.tarjeta5 {
    grid-area: t5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.tarjeta6 {
    grid-area: t6;
    padding: 15px;
}

.tarjeta6 div {
    width: 250px;
}

.tarjeta7 {
    grid-area: t7;
    padding: 10px;
    font-size: 20px;

}

.tarjeta8 {
    grid-area: t8;
    padding: 10px;
}

.tarjeta8 div {
    width: 70%;
}