body {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

.contenedora {
    display: grid;
    grid-template-rows: repeat(5, auto);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    font-size: 18px;
    line-height: 0;
}

h2 {
    font-size: 18px;
}

h3 {
    color: hsl(234, 12%, 34%);
    margin-bottom: 10px;
}

p {
    color: hsl(229, 6%, 66%);
    font-size: 13px;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    text-align: left;
}

article {
    width: 90%;
    max-width: 350px;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);/
}

.tarjeta-1 {
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 7px;
}

.tarjeta-2 {
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 7px;
}

.tarjeta-3 {
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 7px;
}

.tarjeta-4 {
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 7px;
}

.contenedor-imagen {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

img {
    width: 40px;
    height: auto;
}

@media screen and (min-width:768px) {
    .contenedora {
        max-width: 1100px;
        margin: 80px auto;
    }

    .encabezado {
        max-width: 540px;
        margin: 0 auto 10px auto;
    }

    .tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;
        align-items: center;
    }

    .tarjeta-1 {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .tarjeta-2 {
        grid-column: 2;
        grid-row: 1;
    }

    .tarjeta-3 {
        grid-column: 2;
        grid-row: 2;
    }

    .tarjeta-4 {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    article {
        margin: 0;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}