.contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    justify-content: center;
    max-width: 60%;
    margin: 200px auto;
}
button{
    border-radius: 50%;
    width: 170px;
    height: 160px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.271);
    font-weight: 700;
}
.boton1, .boton3, .boton5, .boton7, .boton9{
    background-color: #ffd1dc;
}
.boton2, .boton4, .boton6, .boton8, .boton10{
    background-color: #a2cffe;
}
button:hover{
    background-color: rgb(219, 233, 245);
}