body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(233, 47%, 7%);
    margin: 0;
    padding: 20px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.241);
    background-color: hsl(244, 38%, 16%);
    color: #ffffff;
    text-align: center;
}

.imagen {
    background-color: hsl(277, 72%, 46%);
    line-height: 8px;
    border: top left radius 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 0.5;
}

span {
    color: hsl(277, 64%, 61%);
}

p {
    color: #ffffff90;
}

p,
h1,
h2 {
    margin: 20px;

}

h1,
h2 {
    font-size: 20px;
}

@media screen and (min-width: 769px) {
    .contenedor-principal {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1110px;
        width: 90%;
    }

    .imagen,
    .texto {
        width: 50%;

    }
    .imagen{
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 19px;
    }

    .texto {
        text-align: left;
        margin: 30px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}