@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    position: relative;

}

body::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 380px;
    background: linear-gradient(180deg, #e844ff, #8c39ff);
    border-bottom-left-radius: 100pxpx;
    border-bottom-right-radius: 250px;
    top: 0;
    z-index: -1;
}

h1 {
    color: hsl(271, 36%, 24%);
    font-size: 2.rem;
    font-weight: 500;
    margin-bottom: 25px;
}

p {
    color: hsl(270, 7%, 64%);
    line-height: 1.6;
    font-size: 1.rem;
    max-width: 450px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.imagen {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-bottom: 30px;
}
img{
    width: 200px;
}
.texto {
    padding: 20px;
}

@media screen and (min-width: 768px) {
    body::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 65%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        
    }
    main{
         display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 0 10%;
    gap: 80px;
    width: 100%;
    height: 70%;
    }
    img{
        width: 350px;
        height: 700px;
    }
    h1{
        font-size: 4.5rem;
    }
    p{
        font-size: 1.50rem;
    };
}